@model PracticalNineteen.Domain.DTO.UserRegistrationModel

@{
    ViewData["Title"] = "Register";
}
<div class="row d-flex justify-content-center align-items-center">
    <div class="col-md-6">
        <form asp-action="Register">
            <h1 class="d-block my-3">Registration Form</h1>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label required"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label required"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label required"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label required"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword" class="control-label required"></label>
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber" class="control-label required"></label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Role" class="control-label required"></label>
                <select asp-for="Role" class="form-control" asp-items="@ViewBag.Roles"></select>
                <span asp-validation-for="Role" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <input type="submit" value="Register" class="btn btn-primary" />

                <div class="d-flex align-items-baseline">
                    <h6>Already registered?</h6>
                    <a class="btn btn-link" asp-controller="Account" asp-action="Login">Go to Login</a>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
